.header-container{
  
}
.nike-swoosh-logo{
  height:10em;
  width: 22em;
  background-image:url('assets/nike-swoosh.png');
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 699px) and (min-width: 520px) {
  
}
