.header-container{
 height: 10vh;
 width: 100vw;
 display: flex;
 align-items: center;
 justify-content: center;
  .nike-swoosh-logo{
    height: 2em;
    width: 6em;
    background-image:url('./assets/nike-swoosh.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
